<div class="recipe__section">
  <div class="recipe__title">
    Caracteristicas
  </div>
  <div class="d-flex flex-column">
    <strong>COLOR</strong>
    <div class="recipe__srm-color srm-color__<%= recipe.en_edicion? ? recipe.srm.round.to_s : recipe.color.round %>">
      <strong>
        <%= recipe.en_edicion? ? recipe.srm.round.to_s : recipe.color.round %>
      </strong>
    </div>
    <table class="table">
      <tbody>
        <!-- if controller is :recipes shows this -->
        <% if controller_name == "recipes" %>
          <tr>
            <th scope="row">VOLUMEN (L)</th>
            <td><%= recipe.batch %></td>
          </tr>
          <tr>
            <th scope="row">EXTRACTO REAL(kg)</th>
            <td><%= recipe.real_extract.round(1) %></td>
          </tr>
        <% end %>
        <tr>
          <th scope="row">OG</th>
          <td><%= recipe.en_edicion? ? recipe.computed_og : recipe.og %></td>
        </tr>
        <tr>
          <th scope="row">FG</th>
          <td><%= recipe.en_edicion? ? recipe.computed_fg : recipe.fg %></td>
        </tr>
        <tr>
          <th scope="row">ABV</th>
          <td><%= recipe.en_edicion? ? recipe.computed_abv.round(1) : recipe.abv %> %</td>
        </tr>
        <tr>
          <th scope="row">IBU</th>
          <td><%= recipe.en_edicion? ? recipe.total_ibus.round(1) : recipe.ibus %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
