<div class="container">
  <div class="header d-flex align-items-center justify-content-between pt-4">
    <h1>Recetas</h1>
    <%= button_to "Nueva receta", new_recipe_path, class: "btn btn-success", method: :get, data: { turbo_frame: "remote_modal" } %>
  </div>
  <!-- General configurations -->
  <%= render @general_configuration %>
  <%= turbo_frame_tag Recipe.new %>

  <%= turbo_frame_tag "recipes", class: "row row-cols-1 row-cols-sm-2" do %>
    <%= render @recipes %>
  <% end %>
</div>
