<div class="container-fluid recipe">
  <div class="header d-flex align-items-center gap-2 pt-4">
    <h2><%= @recipe.name %></h2>
    <h5><span class="badge bg-secondary"><%= @recipe.status %></span></h5>
    <!-- This shows available trigger buttons for every lot -->
    <% available_events_for(@recipe).each do |event| %>
      <%= button_to "#{event}", trigger_recipe_path(@recipe, event: event), method: :patch, data: { turbo_confirm: "Esta seguro?" }, class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="row row-cols-1 row-cols-md-2">

    <section class="col-12 col-md-3">
      <div id="beer-attributes" class="col">
        <%= render "recipes/beer_attributes", recipe: @recipe %>
      </div>
      <div id="mashing-attributes" class="col">
        <%= render "recipes/mashing_attributes", recipe: @recipe, mash: @mash %>
      </div>
    </section>


    <div class="col-12 col-md-9">
      <!-- Malts -->
      <section class="recipe__section">
        <div class="recipe__title">
          Maltas
        </div>
        <div class="d-flex border rounded mb-2 mx-2 px-2 bg-success fw-bold">
          <div class="col-2">NOMBRE</div>
          <div class="col-2">CANTIDAD (kg)</div>
          <div class="col-2">EXTRACTO (kg)</div>
          <div class="col-2">COLOR</div>
          <div class="col-2">%</div>
          <div class="col-2"></div>
        </div>
        <!-- Turbo frame to add malts -->
        <%= turbo_frame_tag "Malts" do %>
          <%= render partial: "ingredient_items/malt_ingredient_item", collection: @malts, as: :ingredient_item %>
        <% end %>
        <!-- Turbo frame to add new malt form -->
        <%= turbo_frame_tag nested_dom_id(IngredientItem.new, "Malt") %>
        <!-- Malts result bar -->
        <div id="malt_result">
          <%= render "ingredient_items/malt_result", recipe: @recipe %>
        </div>
        <!-- Button to add new matl -->
        <div class="recipe__add-ingredient">
          <%= link_to "Agregar malta", new_recipe_ingredient_item_path(@recipe, addable_type: 'Malt'), data: { turbo_frame: nested_dom_id(IngredientItem.new, "Malt") }, class: "btn btn-success text" %>
        </div>
      </section>

      <!-- Hops -->
      <section class="recipe__section">
        <div class="recipe__title">
          Lupulos
        </div>
        <div class="d-flex border rounded mb-2 mx-2 px-2 bg-success fw-bold">
          <div class="col-2">NOMBRE</div>
          <div class="col-2">CANTIDAD (gr)</div>
          <div class="col-2">AA</div>
          <div class="col-1">IBUs</div>
          <div class="col-1">%</div>
          <div class="col-2">T. COCCION</div>
          <div class="col-2"></div>
        </div>
        <!-- Turbo frame to add hops -->
        <%= turbo_frame_tag "Hops" do %>
          <%= render partial: "ingredient_items/hop_ingredient_item", collection: @hops, as: :ingredient_item %>
        <% end %>
        <!-- Turbo frame to add new hop form -->
        <%= turbo_frame_tag nested_dom_id(IngredientItem.new, "Hop") %>
        <!-- Malts result bar -->
        <div id="hop_result">
          <%= render "ingredient_items/hop_result", recipe: @recipe %>
        </div>
        <!-- Button to add new hop -->
        <div class="recipe__add-ingredient">
          <%= link_to "Agregar lupulo", new_recipe_ingredient_item_path(@recipe, addable_type: 'Hop'), data: { turbo_frame: nested_dom_id(IngredientItem.new, "Hop") }, class: "btn btn-success text" %>
        </div>
      </section>

      <!-- Yeasts -->
      <section class="recipe__section">
        <div class="recipe__title">
          Levaduras
        </div>
        <div class="d-flex border rounded mb-2 mx-2 px-2 bg-success fw-bold">
          <div class="col-3">NOMBRE</div>
          <div class="col-2">CANTIDAD (gr)</div>
          <div class="col-3">ATENUACION (%)</div>
          <div class="col-2">TIPO</div>
          <div class="col-2"></div>
        </div>

        <!-- Turbo frame to add new yeast form -->
        <%= turbo_frame_tag nested_dom_id(IngredientItem.new, "Yeast") %>
        <!-- Turbo frame to add yeasts -->
        <%= turbo_frame_tag "Yeasts" do %>
          <%= render partial: "ingredient_items/yeast_ingredient_item", collection: @yeasts, as: :ingredient_item %>
          <!-- Button to add new yeast -->
          <div class="recipe__add-ingredient recipe__add-ingredient--only-child">
            <%= link_to "Agregar Levadura", new_recipe_ingredient_item_path(@recipe, addable_type: 'Yeast'), data: { turbo_frame: nested_dom_id(IngredientItem.new, "Yeast") }, class: "btn btn-success text" %>
          </div>
        <% end %>
      </section>
    </div>
  </div>

</div>
