<div class="container recipe">
  <div class="header pt-4">
    <h2><%= @recipe.name %></h2>
  </div>

  <!-- Malts -->
  <section class="recipe__section">
    <div class="recipe__title">
      Maltas
    </div>
    <div class="d-flex border rounded mb-2 mx-2 px-2 bg-success fw-bold">
      <div class="col-2">NOMBRE</div>
      <div class="col-2">CANTIDAD (kg)</div>
      <div class="col-2">EXTRACTO</div>
      <div class="col-2">COLOR</div>
      <div class="col-2">%</div>
      <div class="col-2"></div>
    </div>
    <%= render partial: "ingredient_items/malt_ingredient_item", collection: @malts, as: :ingredient_item %>
    <div class="recipe__add-ingredient">
      <%= link_to "Agregar malta", new_recipe_ingredient_item_path(@recipe, addable_type: 'Malt'), class: "btn btn-success text" %>
    </div>
  </section>

  <!-- Hops -->
  <section class="recipe__section">
    <div class="recipe__title">
      Lupulos
    </div>
    <div class="d-flex border rounded mb-2 mx-2 px-2 bg-success fw-bold">
      <div class="col-2">NOMBRE</div>
      <div class="col-2">CANTIDAD (gr)</div>
      <div class="col-2">AA</div>
      <div class="col-2">IBUs</div>
      <div class="col-2">%</div>
      <div class="col-2"></div>
    </div>

    <%= render partial: "ingredient_items/hop_ingredient_item", collection: @hops, as: :ingredient_item %>
    <div class="recipe__add-ingredient">
      <%= button_to "Agregar lupulo", "#", method: :get, class: "btn btn-success text" %>
    </div>
  </section>

  <!-- Yeasts -->
  <section class="recipe__section">
    <div class="recipe__title">
      Levaduras
    </div>
    <div class="d-flex border rounded mb-2 mx-2 px-2 bg-success fw-bold">
      <div class="col-3">NOMBRE</div>
      <div class="col-2">CANTIDAD (gr)</div>
      <div class="col-3">ATENUACION</div>
      <div class="col-2">TIPO</div>
      <div class="col-2"></div>
    </div>
    <%= render partial: "ingredient_items/yeast_ingredient_item", collection: @yeasts, as: :ingredient_item %>
    <div class="recipe__add-ingredient">
      <%= button_to "Agregar levadura", "#", method: :get, class: "btn btn-success text" %>
    </div>
  </section>
</div>
