<div class="nested-form-wrapper mb-2 py-2" data-new-record="<%= f.object.new_record? %>">
  <div class="d-flex flex-wrap gap-2 border rounded px-2 align-items-end">
    <%= f.input :start_temp, label: "Temperatura de inicio (°C)", class: "form-control", wrapper_html: { class: "col-3" } %>
    <%= f.input :final_temp, label: "Temperatura de finalizacion (°C)", class: "form-control", wrapper_html: { class: "col-3" } %>
    <%= f.input :length_time, label: "Duracion del escalon (min)", class: "form-control", wrapper_html: { class: "col-4" } %>

    <div class="col-1 mb-3">
      <button type="button" data-action="nested-form#remove" class="btn btn-danger">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
          <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
        </svg>
      </button>
    </div>
  </div>


  <%= f.hidden_field :_destroy %>
</div>
