<div class="todo">
  <div class="col">
    <div class="d-flex flex-wrap align-items-center gap-2">
      <div class="col">
        <div class="todo__title">
          Maceracion
        </div>
      </div>
      <div class="col-1 d-flex justify-content-end">
        <%= button_to "#", class: "btn btn-warning mb-2" do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
          <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
        </svg>
        <% end %>
      </div>
    </div>
    <div class="todo__information">
      <p>
        El proceso de maceracion tiene una duracion de <strong><%= lot.user.general_configuration.bioling_time %> mins</strong> a una tempertura de
        <strong><%= lot.recipe.mash.temp %> 째C</strong>. Se agregaran las siguientes maltas:
      </p>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Malta</th>
          <th scope="col">Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <% ingredient_items_quantities["malts"].each do |name, quantity| %>
        <tr>
          <td><%= name %></td>
          <td><%= quantity %> Kg</td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <!-- mash steps -->
  <div class="todo__title">
    Escalones de maceracion
  </div>
  <div class="d-flex border rounded bg-success px-2 mb-2">
    <div class="col">Temperatura de inicio</div>
    <div class="col">Temperatura final</div>
    <div class="col">Duracion</div>
  </div>
  <% lot.recipe.mash.mash_steps.each do |step| %>
    <div class="todo todo__line">
        <div class="col"><%= step.start_temp %> 째C</div>
        <div class="col"><%= step.final_temp %> 째C</div>
        <div class="col"><%= step.length_time %> min</div>
    </div>
  <% end %>
  <!-- Recirculation todo -->
  <div class="todo__title">
    Recirculacion
  </div>
  <div class="todo todo__line">
    <div class="col">Duracion: <%= lot.recipe.mash.recirculation_time %> min</div>
    <div class="col-1 d-flex justify-content-end">
      <%= button_to "#", class: "btn btn-success" do %>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
      </svg>
      <% end %>
    </div>
  </div>
  <!-- sparging todo -->
  <div class="todo__title">
    Lavado
  </div>
  <div class="todo todo__line">
    <div class="col">Duracion: <%= lot.user.general_configuration.sparging_time %> min</div>
    <div class="col">Temperatura: <%= lot.user.general_configuration.sparging_temp %> 째C</div>
    <div class="col-1 d-flex justify-content-end">
      <%= button_to "#", class: "btn btn-success" do %>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
      </svg>
      <% end %>
    </div>
  </div>
</div
