<div class="container">

  <div class="header mt-4">
    <%= link_to sanitize("&larr; Volver"), lots_path %>
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <div class="d-flex flex-wrap align-items-center gap-2">
        <h1><%= @lot.code %></h1>
        <h4><span class="badge bg-secondary"><%= @lot.recipe.name %></span></h4>
        <h4><span class="badge bg-primary"><%= @lot.status %></span></h4>
      </div>
      <% if @lot.creado? %>
        <%= button_to "Iniciar", trigger_lot_path(@lot, event: "macerar"), method: :patch, data: { turbo_confirm: "Esta seguro?" }, class: "btn btn-warning mb-2"%>
      <% end %>
    </div>
  </div>

  <!-- Beer attibutes -->
  <section class="row row-cols-1 row-cols-md-2">
    <div class="col-12 col-md-3">
      <%= render 'recipes/beer_attributes', recipe: @lot.recipe %>
    </div>
    <div class="col-12 col-md-9">

      <!-- Todos for mashing stage -->
      <%= render "lots/mashing_todo", lot: @lot, ingredient_items_quantities: @ingredient_items_quantities %>

      <!-- Todos for bioiling stage -->
      <%= render "lots/boiling_todo", lot: @lot, ingredient_items_quantities: @ingredient_items_quantities %>

      <!-- Todos for chilling stage -->
      <%= render "lots/chilling_todo", lot: @lot %>

      <!-- Todos for chilling stage -->
      <%= render "lots/fermentation_todo", lot: @lot, ingredient_items_quantities: @ingredient_items_quantities %>
    </div>
  </section>
</div>
