<div class="container">

  <div class="header mt-4">
    <%= link_to sanitize("&larr; Volver"), :back %>
    <h1><%= @lot.code %></h1>
  </div>

  <!-- Beer attibutes -->
  <section class="row row-cols-1 row-cols-md-2">
    <div class="col-12 col-md-3">
      <%= render 'recipes/beer_attributes', recipe: @lot.recipe %>
    </div>
    <div class="col-12 col-md-9">
      <!-- Todos for mashing stage -->
      <div class="todo">
        <div class="col">
          <div class="todo__title">
            Maceracion
          </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Malta</th>
                <th scope="col">Cantidad</th>
              </tr>
            </thead>
            <tbody>
              <% @ingredient_items_quantities["malts"].each do |name, quantity| %>
              <tr>
                <td><%= name %></td>
                <td><%= quantity %> Kg</td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div
      
      <!-- Todos for bioiling stage -->
      <div class="todo">
        <%= @lot.todos.rank(:row_order).where(todo_type: :recirculado)%>
      </div
    </div>
  </section>
</div>
